<html>
    <head>
    <body>
        <body>
            <style>
            a {
          text-decoration-line: none;
          }
                .center{
                  text-align: center;
                  }
                </style>
    
    <a href='https://ifh.cc/v-4y42gA' target='_blank'><img src='https://ifh.cc/g/4y42gA.jpg' width = "600px"
        height= "750px" style="margin-left: auto; margin-right: auto; display: block;" alt="모험시작"></a>

         <p style="text-align: center; font-size:230%;"><B>용사의 모험</B></p>

         <div class="center"><a href="/Forest"
            style="font-size: 1.5em; font-weight: bold;">~ 시작 ~</a></p></div>
         
</body>
</head>
</html>