<!DOCTYPE html>
<html>
<body>

    <style>
         a {
          text-decoration-line: none;
          }
        .center{
          text-align: center;
          }
        </style>
</br></br></br></br>
<a href='https://ifh.cc/v-sxjung' target='_blank'><img src='https://ifh.cc/g/sxjung.png' 
    style="margin-left: auto; margin-right: auto; display: block;" alt="용사일지"></a>

    <p style="text-align: center; font-size:300%;"><B>~용사의 모험일지~</B></p>


        <div class="center"><a href="/food" style="font-size: 1.2em; font-weight: bold;">!!오늘의 음식!!</a></p></div>
        <div class="center"><a href="/rest" style="font-size: 1.2em; font-weight: bold;">돌아가기</a></p></div>



</body>
</html>