<html>
    <head>
    <body>
        <style>
           a {
          text-decoration-line: none;
          }
            .center{
              text-align: center;
              }
            </style>

    
    <a href='https://ifh.cc/v-QmEwZT' target='_blank'><img src='https://ifh.cc/g/QmEwZT.png'  width = "500px"
        height= "650px" style="margin-left: auto; margin-right: auto; display: block;" alt="음식"></a>

         <p style="text-align: center; font-size:200%;">~ 훈제 닭고기 ~</p>
         <p style="text-align: center; font-size:90%;">마을에서 흔하게 저렴한 가격으로 구할수 있는 음식이다.
         </br>조리되어 있지만 데워먹으면 더 맛있다!! 
        </br>맛 ★★★☆☆</div></p>
         <div class="center"><a href="/AdventurersNote" style="font-size: 1.2em; font-weight: bold;">~돌아가기~</a></p></div>

</body>
</head>
</html>