<html>
    <head>
    <body>
        <style>
           a {
          text-decoration-line: none;
          }
            .center{
              text-align: center;
              }
            </style>

<a href='https://ifh.cc/v-Mac1v9' target='_blank'><img src='https://ifh.cc/g/Mac1v9.png'  style="margin-left: auto; margin-right: auto; display: block;" ></a>


         
<p style="text-align: center; font-size:150%;">부스럭..부스럭...</p>
<p style="text-align: center; font-size:200%;">숲에서 수상한 소리가 들린다...</br>한번 확인해볼까??</p>

         <div class="center"><a href="/monster" style="font-size: 1.2em; font-weight: bold;">~확인해보기~</a></p></div>
</body>
</head>
</html>