<html>
    <body>
        <style>
        a {
          text-decoration-line: none;
          }
            .center{
              text-align: center;
              }
            </style>

    <h2></h2>
    <a href='https://ifh.cc/v-Lg2qb9' target='_blank'><img src='https://ifh.cc/g/Lg2qb9.png'
        style="margin-left: auto; margin-right: auto; display: block;" ></a>

    <p style="text-align: center; font-size:250%;">!!두둥!!</br><B>핑크색 슬라임이다!</B></p>
    <p style="text-align: center; font-size:200%;">슬라임은 아주 약하고 작은 몬스터이다.</br>
    어떤 방식으로 슬라임을 상대해야할까??</p>
    <div class="center"><a href="/Attack" style="font-size: 1.2em; font-weight: bold;">~공격하기~</a></p></div>
    <div class="center"><a href="/talk" style="font-size: 1.2em; font-weight: bold;">~대화하기~</a></p></div>
    </body>
</html>