<html>
    <body>
        <style>
           a {
          text-decoration-line: none;
          }
            .center{
              text-align: center;
              }
            </style>

    <h2></h2></br></br></br></br>
    <a href='https://ifh.cc/v-b9u9vz' target='_blank'><img src='https://ifh.cc/g/b9u9vz.jpg' 
    style="margin-left: auto; margin-right: auto; display: block;" ></a>

    <p style="text-align: center; font-size:250%;"><B>~ 즐거운 휴식 ~</B></p>

    <div class="center"><a href="/AdventurersNote" style="font-size: 1.5em; font-weight: bold;">~모험 기록~</a></p></div>
    <div class="center"><a href="/next" style="font-size: 1.5em; font-weight: bold;">다음날>></a></p></div>

    </body>
</html>