<!DOCTYPE html>
<html>
<body>
    <style>
        a {
          text-decoration-line: none;
          }

        .center{
          text-align: center;
          }
        </style>

<a href='https://ifh.cc/v-HccxG1' target='_blank'><img src='https://ifh.cc/g/HccxG1.png' width = "700px"
    height= "700px" style="margin-left: auto; margin-right: auto; display: block;" alt="지도"></a>

<p style="text-align: center; font-size:150%;">용사를 꿈꾸는 주인공은 모험을 떠나기 위해 전재산으로 갑옷을 구매하였다!
</br>하지마 돈이 부족해 검을 구하지 못하였다...
</br>주인공은 포기하지 않고 주의에 있는 나뭇가지 하나를 들고 숲속으로 발걸음을 움직였다.
</br><B>이러한 주인공의 험난한 모험에 같이 떠나보시겠습니까?</B>
</div></p>

<div class="center"><a href="/adventure" style="font-size: 1.2em; font-weight: bold;">네! 같이 떠나겠습니다!</a></p></div>



</body>
</html>